:root {
    /* color */
    --cor01: #FFBD48;
    --cor02: #0B0A0A;
    --cor03: #FEFBF4;
    --cor04: #FFF5DE;
    --cor05: #ffffff;

    /* type */
    --font-base: 'Inter';
    --font-secundary: 'space-grotesk';
}